/Calculadora.class
/Calculadora1.class
/Asteriscos.class
/Alreves.class
/Vocales.class
/VocalesMayusculas.class
/MayoraMenor.class
/Tragaperras.class
/Mayoramenor.class
/Mayoramenor1.class
/Tragaperras1.class
/Ordenar2.class
/Asteriscos2.class
